html{
    background-image: none;
}

#user-dropdown {
    margin-right: 40px;
}

.card {
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.card-alt{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 20px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255,0.9);
}

.card-title {
    font-weight:bold;
    text-align: center;
}
.card-text {
    text-align: justify;
}

#left-panel-link {
    position: relative;
    left: 5%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#right-panel-link {
    position: absolute;
    right: 10%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.errorMessage{
    font-variant: full-width;
    font-family: initial;
    font: lighter;
    color: red;
    font-weight: bold;
    text-align: center;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
}

.panel{
    border-color:#bbbaba;
    border-radius: 4px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    margin-bottom: 2px;
}

.panel-body{
    padding:15px;
}

.observations{
    display: flex;
    justify-content: space-between;
    background: aliceblue;
    p{
        margin-top: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.cardButton{
    border-style: solid ;
    border-width: 2px;
    border-color: #a2a19f;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
    background: white;
   
    h5{
        margin: 0;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
    }
    svg{
        height:110px;
        width: auto !important;
        padding:5px;
    }
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.cardButton:hover{
    background: #c3e6cb;
    cursor: pointer;
}

#background {
    z-index: -99;
    position: fixed; 
    top: 0; 
    left: 0; 
        
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#sidebar{
    float: left;
    position: fixed;
    height: 100%;
    top: 50px;
    padding: 0px;
    width: 230px;
    align-content: start;
    

    #navbarSupportedContent{
        width: 100%;
        text-align: center;
    }

    li{
        border-top-style: solid;
        border-width: 1px;
        border-color: #9f9f9f;
        border-bottom-style: solid;
        top: 6px;
        position: relative;
        height: 70px;
        :hover{
            background-color: #9f9f9f;
            cursor: pointer;
            color:black !important;
        }

        button{
            display: grid;
            align-items: center;
            text-align: center;
            border-radius: 0;
            height: 100%;
            width: 100%;
        }
    }
}

#dataListContainer{
    padding-left: 230px;
    padding-top: 60px;
    .panel{
        background-color: #61676c;
        color: white;
    }
}

.fixed{
    position: fixed !important;
    width: 100%;
    z-index: 99 !important;
}

#transparentList{
    opacity: 0.95;
    .panel{
        background-color: #4d4c4c;
        color: white;
        a{
            color: #fff;
            background-color: #313131;
            text-decoration: none; 
        }
    }

    .list-group-item-dark.list-group-item-action:focus{
        background-color: #1e1e1e;
    }

    .list-group-item-dark.list-group-item-action:hover{
        background-color: #1e1e1e;
    }
}